html,
body {
    margin: 0;
    background-color: #242424;
    color: white;
    font-family: system-ui, Arial, sans-serif;
}

:root {
    --button-background-color: #1a1a1a;
    --button-border-color: #7980ff;
    --button-font-color: #fff;
}
