.card {
    display: grid;
	grid-template-rows: auto 1fr auto;
    text-align: left;
    border-radius: 10px;
    padding: 10px;
    background-color: var(--background-color-secondary);
    color: var(--font-color-secondary);
    min-width: 250px;
}

.card__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 15px;
}

.card__name {
    margin: 0;
    padding-right: 15px;
    font-weight: bold;
}

.card__icon {
    display: inline;
    margin-right: 5px;
}

.card__state {
    padding: 0 4px;
    font-size: 10px; 
}

.card__state_active{
    border-bottom: 2px solid var(--active-state-border-color);
    color: var(--active-state-font-color);
}

.card__state_inactive{
    border-bottom: 2px solid var(--inactive-state-border-color);
    color: var(--inactive-state-font-color);
}

.card__info {
    display: flex;
    flex-direction: column;
    font-family: inherit;
    font-size: 14px;
    color: var(--font-color-secondary);
}

.card__line {
    width: 100%;
}

.card__footer {
    display: flex;
    justify-content: flex-end;
    gap: 2px;
}

.card__footer > button {
    border: none;
    padding: 3px 5px;
    cursor: pointer;
}

.card__button-icon {
    font-size: 16px;
}
