.form {
    min-width: 350px;

    @media screen and (max-width: 576px) {
        min-width: 275px;
    }
}

.form__valid-and-state-container {
    display: flex;
    justify-content: space-between;
}

.form__buttons-container {
    display: flex;
    justify-content: center;
}
